@inherits LayoutComponentBase

<link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<div>
    @*<MudDrawerContainer>*@
        <MudMainContent>
        <MudDrawer Style="background-color: #03009F; color: white" @bind-Open="@open" DisableOverlay="false" Elevation="1" Anchor="Anchor.Left" ClipMode="DrawerClipMode.Always" Variant="@DrawerVariant.Temporary">
            <MudDrawerHeader>
                <div class="d-flex align-middle align-items-center">
                    <MudText Typo="Typo.h5" class="">Rocket Process</MudText>
                    <MudSpacer></MudSpacer>
                    <MudIcon Class="" Icon="@Icons.Material.Filled.Rocket" />
                </div>

                @*<MudImage Width="20" Height="5" Fluid="true" Alt="Logo" Src="css/images/launch.ico" />*@
            </MudDrawerHeader>
            <MudNavMenu>

                <MudNavLink Href="/" Icon="fas fa-home" IconColor="Color.Info" Style="color: white">Inicio</MudNavLink>
                <MudNavLink Href="/Tareas" Icon="fas fa-edit" IconColor="Color.Info" Style="color: white">Tareas</MudNavLink>
                <MudNavLink Href="/Flujos" Icon="fas fa-diagram-project" IconColor="Color.Info" Style="color: white">Flujos</MudNavLink>
                <MudNavLink Href="/Avance" Icon="fas fa-calculator" IconColor="Color.Info" Style="color: white">Calcular Avance</MudNavLink>
                <MudNavGroup Title="Seguridad" Icon="fas fa-cogs" IconColor="Color.Info">
                    <MudNavLink Href="/users" Icon="fas fa-users" IconColor="Color.Primary">Usuarios</MudNavLink>
                    <MudNavLink Href="/roles" Icon="fas fa-sitemap" IconColor="Color.Primary">Roles</MudNavLink>
                </MudNavGroup>
                <MudNavLink Href="/Acerca" Icon="fas fa-info" IconColor="Color.Info" Style="color: white">Acerca de Rocket</MudNavLink>
            </MudNavMenu>
        </MudDrawer>
        <MudAppBar Elevation="1" Style="background-color: #03009F">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.False" OnClick="@ToggleDrawer" />
                <MudSpacer />
                <MudIconButton Icon="fas fa-satellite-dish" Title="Endpoints RocketProcess" Color="Color.Inherit" Edge="Edge.Start" Link="http://jesustorrejon.cl/swagger/index.html" Target="_blank" />
                <MudSpacer />
                <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Title="Sobre mí" Color="Color.Inherit" Link="https://github.com/jesustorrejon" Target="_blank" />
            </MudAppBar>
            <MudContainer Class="mt-3">
                @Body
            </MudContainer>
        </MudMainContent>
    @*</MudDrawerContainer>*@
</div>

@code {
    bool open = false;
    bool expandir = false;

    void ToggleDrawer()
    {
        open = !open;
    }
}