@inject ILoginServices LoginServices
@inject IUserServices UserServices
@inject IRoleServices RoleServices

<style>
    .caja{
        padding-top: 1em;
        padding-bottom: 1em;
    }
</style>
@if (login is null || usuario is null)
{
    <div class="d-flex align-items-center text-center">
        <MudProgressCircular Color="Color.Info" Indeterminate="true" />
    </div>
}
else{
    <MudDialog DisableSidePadding="true">
        <TitleContent>
            <MudText>Editar Usuario</MudText>
        </TitleContent>
        <DialogContent>
            <MudContainer Style="max-height: 60vh; overflow-y: scroll">
                <div class="caja">
                    <MudTextField @bind-Value="@usuario.Id_Usuario" Disabled="true" ReadOnly="true" Label="#" Variant="Variant.Outlined"></MudTextField>
                </div>
                <div class="caja">
                    <MudTextField @bind-Value="@usuario.Rut" Label="RUT" Variant="Variant.Outlined"></MudTextField>
                </div>
                <div class="caja">
                    <MudTextField @bind-Value="@usuario.Nombre" Label="Nombre" Variant="Variant.Outlined"></MudTextField>
                </div>
                <div class="caja">
                    <MudTextField @bind-Value="@usuario.Apell_Paterno" Label="Apellido Paterno" Variant="Variant.Outlined"></MudTextField>
                </div>
                <div class="caja">
                    <MudTextField @bind-Value="@usuario.Apell_Materno" Label="Apellido Materno" Variant="Variant.Outlined"></MudTextField>
                </div>
                <div class="caja">
                    <MudTextField @bind-Value="@usuario.Correo" Label="Correo" Variant="Variant.Outlined"></MudTextField>
                </div>
                <div class="caja">
                    <MudSelect T="int" Variant="Variant.Outlined" Placeholder="Selecciona un rol" @bind-Value="login.id_rol">
                            @foreach (var rol in EnumRoles)
                            {
                                <MudSelectItem T="int"  Value="@rol.Id_Rol">@rol.Nombre_Rol</MudSelectItem>
                            }
                        </MudSelect>
                    @*<MudTextField @bind-Value="@login.rol" Label="Rol" Variant="Variant.Outlined"></MudTextField>*@
                </div>
            </MudContainer>
        </DialogContent>
        <DialogActions>
            <MudButton OnClick="Cancel">Cancelar</MudButton>
            <MudButton Color="Color.Primary" OnClick="Submit">Grabar</MudButton>
        </DialogActions>
    </MudDialog>
}



@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public Usuario usuario { get; set; }

    private Login login { get; set; }
    private ListUser _ListUser { get; set; }

    private IEnumerable<Rol> EnumRoles;

    protected override async Task OnInitializedAsync()
    {
        var result = await LoginServices.LoginConnect(usuario.Correo, usuario.Clave);
        login = result.FirstOrDefault();
        EnumRoles = await RoleServices.GetAll();

        if (login.id_rol == 0)
        {
            login.id_rol = EnumRoles.FirstOrDefault(x => x.Nombre_Rol.ToLower() == "funcionario").Id_Rol;
        }

        _ListUser = new ListUser();
    }

    async void Submit(){
        _ListUser.Id_Usuario = usuario.Id_Usuario;
        _ListUser.Nombre = usuario.Nombre;
        _ListUser.Apell_Paterno = usuario.Apell_Paterno;
        _ListUser.Apell_Materno = usuario.Apell_Materno;
        _ListUser.Rut = usuario.Rut;
        _ListUser.Correo = usuario.Correo;
        _ListUser.Telefono = usuario.Telefono;
        _ListUser.Direccion = usuario.Direccion;
        _ListUser.Id_Rol = login.id_rol;
        _ListUser.Clave = login.clave;

        var result = await UserServices.Save(_ListUser);

        string mensaje = "";

        if (result.Result.Success)
        {
            mensaje = "Guardado exitosamente";
        }
        else
        {
            mensaje = @$"No se logró guaradar. {Environment.NewLine} {result.Result.Error}" ;
        }

        var dialog = await DialogService.ShowMessageBox("Mensaje", mensaje);

        if (dialog.Value)
        {
            MudDialog.Close(DialogResult.Ok(true));
        }      
    }
    void Cancel() => MudDialog.Close(false);
}
