@using RocketProcess.Razor.Shared

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>No Existe</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Lo siento, está pagina no existe.</p>
        </LayoutView>
    </NotFound>
</Router>
